<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    </head>
    <body>
    <div>
{#        {{ knp_menu_render('mainMenu') }}#}
    </div>

    {% if is_granted("OS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path("app_logout") }}">Logout</a>
    {% else %}
        <a href="{{ path("app_login") }}">Login</a>
        <a href="{{ path("app_register") }}">Register</a>
    {% endif %}
    <a href="{{ path("app_user_index") }}">Show All Users</a>
        {% block body %}{% endblock %}


    <div style="margin-top: 20px">
        <form method="get" action="{{ path("search") }}">
            <input type="text" placeholder="search">
            <button type="submit">click</button>
        </form>
    </div>
    </body>

</html>
