{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hotel') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('hotel') }}
{% endblock %}
{% block body %}
    <h1>Hotel index</h1>
    <img src="{{ asset("build/images/2.jpeg") }}"/>
    <table class="table">
        <thead>
        <tr>
            <th class="th1">Id</th>
            <th class="th1">Name</th>
            <th class="th1">Address</th>
            <th class="th1">Description</th>
            <th class="th1">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.description }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new') }}">Create new</a>
{% endblock %}
